html {
  font-size: 62.5%;
}

*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
}

.tip {
  border-radius: 5px;
  color: var(--White);
  background: var(--Very-dark-cyan);
  font-size: 2.4rem;
  text-align: center;
  padding: 0.8rem 0;
  width: 100%;
}

.tip-active {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
