html {
  font-size: 62.5%;
}

*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --input-warning: #e17052;
}

body {
  background: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}

.tip {
  border-radius: 5px;
  border: 0;
  color: var(--White);
  cursor: pointer;
  background: var(--Very-dark-cyan);
  font-size: 2.4rem;
  font-family: inherit;
  text-align: center;
  padding: 0.8rem 0;
  outline: 0;
  width: 100%;
  transition: all 0.2s;
}

.tip:hover,
.tip:focus {
  opacity: 0.9;
}

.tip-active {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

/* Btn */
.btn-reset {
  background-color: var(--Strong-cyan);
  border-radius: 5px;
  color: var(--Very-dark-cyan);
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.8rem 0;
  transition: all 0.2s;
  width: 100%;
}

.btn-reset:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #0d686d;
  color: var(--Very-dark-cyan);
}

/* Inputs */
input {
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 5px;
  border: 1.5px solid var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  outline: 0;
  text-align: end;
  padding-right: 1rem;
  width: 100%;
}

input::placeholder {
  text-align: end;
  color: var(--Very-dark-cyan);
  opacity: 0.35;
}

input:focus {
  border: 1px solid var(--Strong-cyan);
}

.input-container {
  position: relative;
}

.input-container__icon {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

.input-warning {
  border-color: var(--input-warning);
}

.text-warning {
  display: none;
  color: var(--input-warning);
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.tip-input::placeholder {
  opacity: 0.6;
}

/* payment */

.payment {
  background-color: var(--Very-dark-cyan);
  border-radius: 15px;
  padding: 2.8rem 2rem 2rem;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.tip-person {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--White);
}

.person {
  font-size: 1.3rem;
  margin: 0;
  color: var(--Dark-grayish-cyan);
}

.tip-amount_person {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.67px;
  color: var(--Strong-cyan);
}

@media screen and (min-width: 768px) {
  .payment {
    padding: 4rem;
    display: flex;
    flex-direction: column;
  }

  .total-wrapper {
    flex: 1;
  }

  .btn-reset {
    align-self: flex-end;
  }

  .tip-amount {
    margin-bottom: 2.5rem;
  }

  .tip-amount_person {
    font-size: 48px;
    letter-spacing: -1px;
  }
}

/* Grids */
.grid {
  display: grid;
  row-gap: 3.2rem;
  column-gap: 4.8rem;
}

.grid-3x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.6rem;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Bill Content */
.tip-calculator {
  background: var(--White);
  padding: 3rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 920px;
}

.bill-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Dark-grayish-cyan);
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
}

.select-tip {
  margin: 3.2rem 0 1.4rem;
}

@media screen and (min-width: 768px) {
  .tip-calculator {
    border-radius: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
