<div class="payment">
  <div class="total-wrapper">
    <div class="tip-amount">
      <div>
        <p class="tip-person">Tip Amount</p>
        <p class="person">/ person</p>
      </div>
      <div class="tip-amount_person">$0.00</div>
    </div>
    <div class="tip-amount">
      <div>
        <p class="tip-person">Total</p>
        <p class="person">/ person</p>
      </div>
      <div class="tip-amount_person">$0.00</div>
    </div>
  </div>
  <button class="btn-reset">RESET</button>
</div>
